<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The New myDrugs">
    <meta name="author" content="Kilian Peyron">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDrugs 2.0</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/responsive.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="myDrugsNav" id="myDrugsNav">
        <div class="myDrugsNavLogo"><img src="assets/logo.png" alt="MyDrugs"></div>
        <a href="index.html" class="myDrugsNavItem">Home</a>
        <a href="economy.html" class="myDrugsNavItem">Economy</a>
        <a href="premium.html" class="myDrugsNavItem">Premium</a>
        <a href="party-packs.html" class="myDrugsNavItem">Party Packs</a>
        <a href="safety.html" class="myDrugsNavItem">Safety</a>
        <a href="faq.html" class="myDrugsNavItem">FAQ</a>
        <a href="contact.html" class="myDrugsNavItem">Contact</a>
        <a href="" class="myDrugsNavItem"><i class='bx bx-search myDrugsNavItem'></i></a>
        <a href="login.html" class="myDrugsLoginBtn myDrugsNavItem">Login</a>
        <a href="javascript:void(0);" class="hambIcon"><i class='bx bx-menu'></i></a>
    </div>
    <div class="MyDrugsRespMenu">
        <ul>
            <a href="index.html" class="myDrugsNavItem">Home</a>
            <a href="economy.html" class="myDrugsNavItem">Economy</a>
            <a href="premium.html" class="myDrugsNavItem">Premium</a>
            <a href="party-packs.html" class="myDrugsNavItem">Party Packs</a>
            <a href="safety.html" class="myDrugsNavItem">Safety</a>
            <a href="faq.html" class="myDrugsNavItem">FAQ</a>
            <a href="contact.html" class="myDrugsNavItem">Contact</a>
            <a href="" class="myDrugsNavItem"><i class='bx bx-search myDrugsNavItem'></i></a>
            <a href="login.html" class="myDrugsLoginBtn myDrugsNavItem">Login</a>
         </ul>
    </div>
    <div class="myDrugsShop" id="shop">
        <h1 class="myDrugsShopTitle">myDrugs Shop / <a href="#cart" class="ShoppingCart"><i class='bx bx-shopping-bag'></i> {{shoppingCart }}</a></h1>
        <div class="myDrugsShopRow">
            <div v-for="item in items" :key="item.name" class="myDrugsShopItem">
                <img class="mDSIImg" :src="item.image.source" :alt="item.image.alt">
                <h4 class="mDSIName">{{ item.name }}</h4>
                <p v-if="item.inStock" class="mDSIStock">IN STOCK</p>
                <div class="mDSIQuantity">
                    <div class="mDSIQuantityNb">
                        <span>-</span>
                    </div>
                    <div class="mDSIQuantity_NB">
                        <span>{{ item.quantity }}</span>
                    </div>
                    <button class="mDSIQuantityNb">
                        <span>+</span>
                    </button>
                </div>
                <small style="display: flex; justify-content: center;">⬆️  don't work now !  ⬆️</small>
                <div v-if="item.name == '#100'">
                    <button @click="addQuantityDrugs1()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'BLUE CLOVER'">
                    <button @click="addQuantityDrugs2()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'GREEN SNOWFLAKE'">
                    <button @click="addQuantityDrugs3()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'BIG BOOMER'">
                    <button @click="addQuantityDrugs4()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'SMILING DEVIL'">
                    <button @click="addQuantityDrugs5()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'PURPLE FLOWER'">
                    <button @click="addQuantityDrugs6()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'RED PILL'">
                    <button @click="addQuantityDrugs7()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <div v-if="item.name == 'CONFUSED'">
                    <button @click="addQuantityDrugs8()" class="mDSIATCBtn">Add to cart</button>
                </div>
                <a href="#cart"><button class="mDSICBtn">Check Out</button></a>
            </div>
        </div>
        <div id="cart" class="cart">
            <div>
              <a href="#" title="Close" class="modal-close">Close</a>
              <h1><i class='bx bx-shopping-bag'></i> Shopping Cart ({{ shoppingCart }})</h1>
              <p v-if="quantityDrugs1 >= 1">#100 : {{ quantityDrugs1 }}</p>
              <p v-if="quantityDrugs2 >= 1">BLUE CLOVER : {{ quantityDrugs2 }}</p>
              <p v-if="quantityDrugs3 >= 1">GREEN SNOWFLAKE : {{ quantityDrugs3 }}</p>
              <p v-if="quantityDrugs4 >= 1">BIG BOOMER : {{ quantityDrugs4 }}</p>
              <p v-if="quantityDrugs5 >= 1">SMILING DEVIL : {{ quantityDrugs5 }}</p>
              <p v-if="quantityDrugs6 >= 1">PURPLE FLOWER : {{ quantityDrugs6 }}</p>
              <p v-if="quantityDrugs7 >= 1">RED PILL : {{ quantityDrugs7 }}</p>
              <p v-if="quantityDrugs8 >= 1">CONFUSED : {{ quantityDrugs8 }}</p>
              <a href="https://github.com/Shonned/MyDrugs2.0" target="_blank" class="mDSICBtn cBtn">Check Out</a>
            </div>
        </div>
    </div>

    <script>
        const hamburger = document.querySelector(".hambIcon");
        const navMenu = document.querySelector(".MyDrugsRespMenu");
        hamburger.addEventListener("click", respMenu);
        function respMenu() {
          hamburger.classList.toggle("responsive");
          navMenu.classList.toggle("responsive");
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/shop.js"></script>
</body>
</html>